.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  list-style: none;
}

.services-item {
  padding: 15px;
  border: 1px solid gainsboro;
  border-radius: 6px;
}